BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AlignConsecutiveBitFields: Consecutive
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentWidth: 4
PackConstructorInitializers: Never
PointerAlignment: Right
TabWidth: 4
SortUsingDeclarations: Lexicographic
SeparateDefinitionBlocks: Always
